// ------ Margin ------ //

@for $i from 1 through 10
    .m-t-#{$i}
        margin-bottom: $i * $space 

    .m-r-#{$i}
        margin-right: $i * $space

    .m-b-#{$i}
        margin-bottom: $i * $space

    .m-l-#{$i}
        margin-left: $i * $space
